* {
  min-height: 0;
  min-width: 0;
  font-family: Lexend, "JetBrainsMono NFP";
  font-size: 16px;
  font-weight: 600;
}

window#waybar {
  transition-property: background-color;
  transition-duration: 0.5s;
  /* background-color: #1e1e2e; */
  /* background-color: #181825; */
  background-color: rgba(50 ,50, 50, 1);
  border-bottom: 2px rgba(255, 75, 0, 1) solid;
  /* background-color: rgba(24, 24, 37, 0.6); */
}

#workspaces button {
  padding: 0.3rem 0.6rem;
  margin: 0.4rem 0.25rem;
  border-radius: 6px;
  /* background-color: #181825; */
  background-color: rgba(255, 75, 0, 0.35);
  color: white;
}

#workspaces button:hover {
  color: white;
  background-color: rgba(255, 75, 0, 0.75);
}

#workspaces button.active {
  background-color: rgba(255 ,75, 0, 1.0);
  color: white;
}

#workspaces button.urgent {
  background-color: rgba(255, 100, 0, 0.85);
  color: white;
}

#custom-waybar-scrolling-mpris {
    color: white;
    background-color: rgba(255, 75, 0, 1);
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 15px;
}

#custom-cava {
    padding-left: 10px;
    padding-right: 10px;
    color: rgba(115, 41, 130, 1);
}

#battery {
    color: white;
    background-color: rgba(255, 75, 0, 1);
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 15px;
}


#clock,
#pulseaudio,
#custom-logo,
#custom-power,
#custom-mpris,
#custom-notification,
#cpu,
#tray,
#memory,
#window,

window#waybar.empty #window {
  padding-left: 10px;
  padding-right: 10px;
}

#cpu {
  color: rgba(228, 3, 3, 1);
}

#memory {
  color: rgba(255, 140, 0, 1);
}

#pulseaudio {
  color: rgba(255, 237, 0, 1);
}

#pulseaudio.muted {
  color: rgba(255, 237, 0, 0.25);
}

#clock {
  color: rgba(0, 128, 38, 1);
}

#clock.simpleclock {
  color: rgba(0, 76, 255, 1);
}

#window {
  color: #cdd6f4;
}


#custom-logo {
  color: #89b4fa;
}

tooltip {
  background-color: #181825;
  border: 2px solid #89b4fa;
}
